/* Basic Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  background-color: rgb(135, 206, 235);
  max-width: 100%;
}

main {
  width: 40%;
  margin: 20px auto 20px;
}

.container {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}

/* Header */
header h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}
header .new-task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto 0;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}
header h3 {
  padding: 20px 0 8px;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}

header #add-button {
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  background-color: rgb(127, 255, 212);
}

header #add-button:hover {
  background-color: rgb(28, 161, 116);
}

/******section*****/
section .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 2px;
  border-bottom: 1px solid #eee;
  margin-top: 8px;
  margin-bottom: 12px;
}
section #new-task-input {
  padding: 0 6px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  line-height: 32px;
  font-size: 16px;
  color: #888;
  width: 70%;
  outline: none;
  margin-left: 6px;
}

section #new-task-input:focus {
  color: #333;
}
section .actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section button {
  border: 0px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  outline: none;
}

section button:hover {
  color: #333;
}

section .edit-button {
  background-color: rgb(201, 201, 201);
}

section .edit-button:hover {
  background-color: rgb(136, 136, 136);
}

section .delete-button {
  background-color: rgb(247, 98, 98);
}

section .delete-button:hover {
  background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 900px) {
  main {
    width: 90%;
    margin: 10px auto 10px;
  }
}